**

!bun.lock
!package.json
!.gitignore
!bunfig.toml

!**/package.json
!**/bun.lock
!**/tsconfig.json
!**/vite.config.ts
!**/components.json

!app/**
!apps/agent/**
!packages/**
!public/**

# License files and attributions
!LICENSE
!NOTICES.md
!LICENSES/**

node_modules/**
dist/**
.output/**
app/test/integration/artifacts/**
**/node_modules/**
